h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.ver {
    
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    ;
  }


table {
	margin: auto;
	border-collapse: collapse;
    text-align: center;
    
    
}

td, tr, th{

    border: 1px solid black;
}


.container{  
    text-align: center;  
    width: auto;
    }  